@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Merriweather:400,400i&display=swap');

:root{
	color-scheme: light dark;
	--color-background:#ffffff;
	--color-text-default: #333333;
}
@media (prefers-color-scheme: dark) {
:root {
--color-background: #000000;
--color-text-default: #e1e1e1;}
a{
		color:#66bbff;
	};
}

body{
	font-family: 'Merriweather', serif;
	line-height: 1.4;
	font-size: 1.2rem;
	margin:0em auto;
	padding: 2em 1.2em 0em;
	max-width:450px;
}

h1,h2{
	font-family:'Open Sans',sans-serif;
	text-align: left;
	font-weight: 700;
}
h1{
		font-size: 32pt;
}
h2{
	margin:0.2em auto;
	font-size: 17pt;
}
img{
	max-width: 95%;
	border-radius: 8px;
	align-content: center;
}
a:link, visited{
	text-decoration: none;
}
