:root{
	color-scheme: light dark;
	--color-background:#ffffff;
	--color-text-default: #333333;
}
@media (prefers-color-scheme: dark) {
:root {
--color-background: #000000;
--color-text-default: #e1e1e1;}
}

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.25;
	font-size: 1em;
	margin:0em auto;
	padding: 1em 1em 0em;
	max-width:400px;

}
h1{
	font-family:'Open Sans',sans-serif;
	text-align: left;
	font-weight: 700;
}
h2{
	margin:0.2em auto;
	font-weight: 400;
}



/* h2, p#description, p#message{
	font-size: 24px;
	text-align: center;
	color: #a7a7a7;
	margin-top: 0;
}

ul{
	padding: 0;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 0;
}

li{
	display: inline-block;
	margin-left: 12px;
}

p#message{
	font-size: 15px;
	margin-top: 25px;
} 

@media screen and (max-height: 480px){
	body{
		margin-top: 0em;
	} */
}