

body{
	font-family: 'Lato', sans-serif;
	line-height: 1.25;
	margin-top: 8em;
	margin-left: 2em;
	margin-right: 2em;
	font-size: 20px;
	width: 100%;
}

h1{
	font-family:'Open Sans',sans-serif;
	font-size: 34px;
	text-align: center;
	margin: 0 auto;
	font-weight: 900;
}

h2, p#description, p#message{
	font-size: 24px;
	text-align: center;
	color: #a7a7a7;
	margin-top: 0;
}

ul{
	padding: 0;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 0;
}

li{
	display: inline-block;
	margin-left: 12px;
}

p#message{
	font-size: 15px;
	margin-top: 25px;
}

@media screen and (max-height: 480px){
	body{
		margin-top: 6em;
	}
}